body{
	background-color:#999999;
margin: 0px;
	line-height:em;
	font-family:;

}

.logoimage
{
margin-left: 590px;
margin-bottom: 0px;
padding-bottom: 0;
margin-top: 0px;

}
.logoimage img
{
	margin-top: 0px;
}

.logo
{
background-color:#000033 ;
color:white;
text-align:center;
font-family: Sanofi,italic;
font-size: 40px;
font-weight: 400;
padding:20px;

margin-top: 0;
}
.logo a
{
text-decoration: none;
color:white;
}
.intro
{
	padding-top: 120px;
	font-weight: 800;
	text-align: center;
	font-family: italic;
	font-size: 20px;
	color:white;
	background-image: url('library.jpg');
	min-height:400px;
	background-attachment: fixed;
  background-size: 100% 100%;

	
	background-repeat: no-repeat;
	margin-top: 40px;
	margin-bottom: 20px;
	
	background-position: center ;

}
.intro p
{
	padding-top: 320px;
}

.navbar
{
	background-color: #999999;
	font-weight: 800;
font-size:20px;
	font-family: courier;

}
.navbar ul
{

	padding: 0;

	text-align: center;
	list-style: none;

}
.navbar li
{
	color:#000066;
	font-weight: 700;

	display: inline;
	padding-left: 30px;


}

.navbar a
{
color:#000066;
padding-right: 16px;

text-decoration: none


}

.block
{
	font-family: Arial;
	font-weight: 600;
	margin-top: 100px;
	min-height: 330px;
	float: left;
	width: 30.3%;
	border: 10px inset ;
	
	padding:30px;

	margin-left: 32px; 
	box-sizing: border-box;
	background-color: #ddd;
	border-left-color: #3333ff;
	border-bottom-color:  #ccccff;
	border-top-color: #ccccff;
	border-right-color: #ccccff;

	
	margin-bottom: 20px;
}
.block h4
{
	text-decoration: underline;
}
.block p
{


}



.sidebar 
{
	
  float: right;
  margin-top: 50px;
  margin-right: 30px;
  background-color: #999999;
  width: 200px;
  padding-right: 100px;
  
}

.sidebar p
{
font-family: comic sans ms;

font-weight: 600;
border: 8px outset;
border-left-color:  #806000;
border-top-color: #ddd;
border-right-color: #fff;
border-bottom-color: #a6a6a6;

padding:  15px;
padding-bottom: 20px;

margin-right: 0px;
text-align: left;
margin-bottom: 50px;
}

.yunusimage
{
float: right;
margin-top: 50px;
margin-right: 150px;
margin-bottom: 0;
border: 15px ridge #8c8c8c;
background-color: #8c8c8c;

}

.description
{
float: left;
text-align: left;
width: 250px;
margin-left: 90px;

}
.description p
{

	
	padding-left: 60px;

	margin-top: 50px;
	line-height: 1.4em;
	
	word-spacing: 0.15em;
	font-weight: 1000;
	font-size: 20px;
	font-family: Sofia,italic;

}

.det
{
	text-align: left;
	color: #999999;
}

.details
{
	padding:50px;

	font-size: 18px;
	font-family: Arial;
	line-height: 1.6em;
}
.details h4
{
	font-family: sofia,italic;
	font-size: 35px;
	text-decoration: none;
	font-weight: 800;
}
.details a
{
	text-decoration: none;
	color: black;
}

#faculty
{
	line-height: 0.5m;
}

.details h2
{
	font-style: sofia,italic;
}

.topclass
{
	text-align: right;
	margin-left: 1220px;
	font-style: none;
	color: black;
	font-size: 25px;
	padding-bottom: 20px;
}



